<!DOCTYPE html>
<html>
<head>
<script src="bower_components/angular/angular.js"></script>
</head>
<body>
  <div ng-app="wageCalculator" ng-controller="wageCalculatorCtrl">
  <h1>IATSE Local 16</h1>
  Regular Hours: <input type="text" ng-model="hours.regular" value='0'><br><br>
  Overtime Hours: <input type="text" ng-model="hours.overtime" value='0'><br><br>
  Doubletime Hours: <input type="text" ng-model="hours.doubletime" value='0'>
  <input type="submit" value="My Money" ng-click="totals()"><br><br>
  <h2> {{ wages | currency }} </h2>
</div>
<script src="services.js"></script>
<script src="wageCalculator.js"></script>
<script src="app.js"></script>
</body>
</html>
